.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    width: calc(25% - 10px);
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card-content {
    padding: 20px;
}

h3 {
    margin-top: 0;
}

.add-to-cart-btn {
    background-color: #008000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #006400;
}
